<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>

    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>com.bjpowernode.crm.settings.web.controller.UserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/settings/user/login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/settings/user/loginTmp.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ActivityController</servlet-name>
        <servlet-class>com.bjpowernode.crm.workbench.web.controller.ActivityController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActivityController</servlet-name>
        <url-pattern>/workbench/activity/getUserList.do</url-pattern>
        <url-pattern>/workbench/activity/save.do</url-pattern>
        <url-pattern>/workbench/activity/pageList.do</url-pattern>
        <url-pattern>/workbench/activity/delete.do</url-pattern>
        <url-pattern>/workbench/activity/getUserListAndActivity.do</url-pattern>
        <url-pattern>/workbench/activity/update.do</url-pattern>
        <url-pattern>/workbench/activity/detail.do</url-pattern>
        <url-pattern>/workbench/activity/getRemarkListByAid.do</url-pattern>
        <url-pattern>/workbench/activity/deleteRemark.do</url-pattern>
        <url-pattern>/workbench/activity/saveRemark.do</url-pattern>
        <url-pattern>/workbench/activity/updateRemark.do</url-pattern>
    </servlet-mapping>
</web-app>